FASTAPI_PORT=8000
INTERNAL_API_SECRET=super-secret-shared-key-change-this
UPSTASH_REDIS_URL=rediss://default:gQAAAAAAAXsiAAIncDJkM2EyOTgxZjAwYzg0ZmY1YmQxZjM0ZmUxZDI0YzI3YnAyOTcwNTg@complete-goldfish-97058.upstash.io:6379
OLLAMA_BASE_URL=http://localhost:11434
GOOGLE_SERVICE_ACCOUNT_JSON=service_account.json
GDRIVE_ROOT_FOLDER_ID=1Mb2jywgo5VcBS-ZmczaoWHsEJvh0PARf?dmr=1&ec=wgc-drive-%5Bmodule%5D-goto
